.mainBackground {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5),rgba(0,0,0,0.7)), url("../assets/images/testBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    position: relative;
    z-index: -999;
}

.glassEffect{
    background: rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.lxgw-wenkai-tc-regular {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.glowing-box {
    /*background-color: rgba(0,0,0,0);
    border-image: linear-gradient(
      to right, 
      red, 
      rgba(0, 0, 0, 0)
    ) 3 100%;*/
    border-color: white !important;
    border-width: 8px !important;
    border-radius: 10px; 
    text-align: center;
    color: white;
    margin:5%;
    padding:1%;
    /* Glowing border effect */
    box-shadow: 0 0 10px #00ffcc, 0 0 10px #14dd61, 0 0 10px #a6ff00;
    transition: box-shadow 0.3s ease-in-out;
}

.glowing-box:hover {
    /* Stronger glowing effect on hover */
    box-shadow: 0 0 30px #00ffcc, 0 0 60px #00ffcc, 0 0 90px #00ffcc;
    border-color: red;
}


/*TEST*/
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
  
:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}
  
.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}
  
.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

  
  
.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        position: absolute;
        z-index: -1;
        top: -1%;
        left: -2%;
        animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}
  
@keyframes spin {
    0% {
    --rotate: 0deg;
    }
    100% {
    --rotate: 360deg;
    }
}
/*TEST*/