body {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../assets/images/testBackground2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -999;
}

.glassEffect {
    background: rgba(255, 255, 255, 0.17) !important;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(7.3px);
    border-color: rgba(0, 0, 0, 0);
    color: white !important;
}

.glassEffect:hover {
    background: rgba(255, 255, 255, 0.25) !important;
    color: white !important;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.lxgw-wenkai-tc-regular {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}

nav * {
    font-size: 105% !important;
    font-family: "LXGW WenKai TC", cursive !important;
    font-weight: 400 !important;
    font-style: normal !important;
}


.joinUsBackground {
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../assets/images/JoinUsBackground.JPG");
    height: 100vh;
}